/*-- scss:defaults --*/
$primary: #1c5cab;
$font-size-root: 17px;

/*-- scss:rules --*/
.pdf-link { float: right; font-size: 0.85rem; margin-top: -0.25rem; }
.callout-tip .callout-title-container::before { content: ""; }
figure img, .cell-output-display img { max-width: 100%; height: auto; }
video { max-width: 100%; height: auto; border: 1px solid #e1e0d9; border-radius: 4px; }
dl dt { font-weight: 700; margin-top: 0.8rem; }
